<div class='container'>
  <footer
    class='d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top'
  >
    <div class='col-md-4 d-flex align-items-center'>
      <img
        src='/static/share.png'
        class='img-fluid mb-2 me-3'
        width='24'
        alt='Favicon'
      />
      <span class='mb-3 mb-md-0 text-muted'>
        © 2022 onze
      </span>
    </div>

    <ul class='nav col-md-4 d-flex justify-content-end list-unstyled'>
      <li class='ms-3'><a
          href='#'
          class='text-decoration-none'
        >Document</a></li>
      <li class='ms-3'><a href='#' class='text-decoration-none'>Github</a></li>
      <li class='ms-3'><a href='#' class='text-decoration-none'>Support</a></li>
    </ul>
  </footer>
</div>