<div
  class='alert alert-dismissible fade show m-0 text-center rounded-0 text-light bg-purple'
  role='alert'
>
  <strong>อะจ๊ะเอ๋ตัวเอง!</strong>
  ขณะนี้บางฟีเจอร์นั้นยังอยู่ในระหว่างการพัฒนาดังนั้นเว็บยังอยู่ใน
  <i>Beta</i>
  นะจ๊ะ
  <button
    type='button'
    class='btn-close btn-close-white'
    data-bs-dismiss='alert'
    aria-label='Close'
  ></button>
</div>