<div class='px-4 py-5 my-5 text-center border-bottom'>
  <h1 class='display-3 fw-bold mb-2 text-gd-purple'><strong>Stand API</strong></h1>
  <div class='col-lg-6 mx-auto'>
    <p class='lead mb-4'>Stand API ให้บริการข้อมูล(ปลอม)
      สำหรับการทดสอบการเรียกใช้เครื่องมือเรียกใช้ API มีทั้งข้อมูลผู้ใช้หรือ
      สุ่มคำ และอื่นๆ ทั้งหมดนี้ให้บริการฟรีไม่มีค่าใช้จ่ายใดๆ
    </p>

    <button class='btn btn-primary' type='button'>Documents</button>
    <button class='btn btn-outline-secondary' type='button'>Support</button>
  </div>
</div>