<div
  class='offcanvas offcanvas-start'
  tabindex='-1'
  id='offcanvas_support'
  aria-labelledby='offcanvas_support'
>
  <div class='offcanvas-header'>
    <h5 class='offcanvas-title' id='offcanvas_supportlabel'>Support</h5>
    <button
      class='btn-close'
      type='button'
      data-bs-dismiss='offcanvas'
      aria-label='Close'
    ></button>
  </div>

  <div class='offcanvas-body'>
    <p>ขอขอบคุณทุกท่านที่สนับสนุนค่ากาแฟกันเข้ามานะครับ</p>
    <span class='text-muted'>(กำลังเตรียมช่องทางการสนับสนุน)</span>
  </div>
</div>