<!DOCTYPE html>
<html lang="en">
{{> baseHeader customTitle='Welcome everyone :D'}}

<body>
    {{!-- Beta alert --}}
    {{> index_alert }}
    {{!-- Navbar --}}
    {{> navbar }}

    {{!-- Main content --}}
    {{> landing }}

</body>
<script src="./js/bootstrap.bundle.min.js"></script>

</html>