<!DOCTYPE html>
<html lang="en">
{{> baseHeader customTitle='Welcome everyone :D'}}

<body>
    {{!-- Navbar --}}
    {{> navbar }}

</body>
<script src="./js/bootstrap.bundle.min.js"></script>

</html>