<!DOCTYPE html>
<html lang="en">
{{> baseHeader customTitle='Welcome everyone :D'}}

<body>
  {{!-- Beta alert --}}
  {{> index_alert }}
  {{!-- Navbar --}}
  {{> navbar }}

  {{!-- Main content --}}
  {{> landing }}

  <div class="container">
    {{> users_section}}

    {{!-- Auth section --}}
    {{> auth_section}}

    {{!-- User search --}}
    {{> userSearch_section}}
  </div>


{{!-- Footer --}}
{{> baseFooter }}
</body>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="../static/users_script.js"></script>

</html>