/* prompt-regular - thai_latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/prompt-v10-thai_latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/prompt-v10-thai_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-600 - thai_latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('fonts/prompt-v10-thai_latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/prompt-v10-thai_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-weight: 400;
  background-color: #f1f0f0;
}

body {
  font-family: 'Prompt', sans-serif;
}

.bg-purple {
  background-color: #8447ff;
}

.text-purple {
  color: #8447ff;
}

.text-gd-purple {
  background: linear-gradient(to right, #ff47ff 0%, #8447ff 100%);
  /* background: -webkit-linear-gradient(#ff47ff, #8447ff); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

pre {
  color: #8447ff;
}
